<div class="row m-0 p-0">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-topics">
    Change topics
  </button>
</div>



<div class="modal fade" id="edit-topics" tabindex="-1" aria-labelledby="editTopicsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTopicsModalLabel">Change topic</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="searchEditTopic" class="form-label">New topic:</label>
          <input [value]="searchEditTopic" (input)="onSearchTopics($event.target.value)" 
          type="text" class="form-control" id="searchEditTopic" placeholder="topic">
        </div>
        <div *ngFor="let receivedTopic of receivedTopics" class="row m-0 p-0 mb-3" >
          <!-- <button type="button" class="btn btn-primary" (click)="selectTopic(receivedTopic)">
            {{receivedTopic.value}}
          </button> -->
          <app-edit-topic [topic]="receivedTopic"></app-edit-topic>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>